  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background: #fff;
    overflow-x: hidden;
    color: #000;
}
main{
    width: 100%;
    margin: auto;
    max-width: 1960px;
}
header{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}
footer{
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05rem;
    background: #DA7500;
}
.page-container{
    width: 100%;
    padding: 0 20px;
}
.banner-image{
    width: 100%;
    height: auto;
    display: block;
}
.banner-image img, .banner-image video{
    width: 100%;
    height: auto;
}
.banner-image .Web{
    display: none;
}
.mb-40{
    margin-bottom: 40px;
}
.top-heading h4{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.01em;
    color: #310F3F;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 120%;
    text-align: center;
}
.top-heading h2{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.01em;
    color: #310F3F;
    line-height: 120%;
    text-align: center;
}
.top-heading p{
    font-family: 'Playfair Display',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 143.9%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605656
}
.b-bottom{
    border-bottom: 1px solid #564F4F;
}
.pb-40{
    padding-bottom: 40px;
}
.mt-25{
    margin-top: 25px;
}
.small-page{
    max-width: 700px;
    margin: auto;
}
.top-heading .content{
    display: grid;
    place-items: center;
}
.content img{
    max-height: 60px;
    margin: auto;
    height: auto;
    margin-top: 30px;
}
.imge-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.lable-animator{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.lable-container{
    display: flex;
    align-items: center;
    padding: 20px 0;
    min-width: max-content;
    animation: marque 10s linear infinite;
}
.lable-container span{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.05rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0 4px;
    position: relative;
    min-width: max-content;
    margin-left: 28px;
}
.lable-container span::before{
    position: absolute;
    content: "";
    left: -24px;
    height: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #fff;
}
.color-swap span{
    color: #000 !important;
}
.color-swap span::before{
    border: 1px solid #000 !important;
}
.mt-40{
    margin-top: 40px;
}
@keyframes marque {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@media screen and (min-width: 749px) {
    .banner-image .Mobile{
        display: none;
    }
    .banner-image .Web{
        display: block;
    }
    .newsRoom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 50px;
    }
    .newsRoom a{
        margin-bottom: 0px;
    }
    .flex-content{
        display: flex;
        align-items: center;
    }
    .flex-content h4{
        min-width: 30%;
        margin: 0px;
        margin-right: 30px;
        text-align: left;
    }
    .flex-content p{
        text-align: left;
    }
    .row-content{
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr;
        gap: 20px;
    }
    .row-content p{
        text-align: left;
    }
    .row-content div:nth-child(2){
        padding: 0 20px;
        border-left: 1px solid #564F4F;
        border-right: 1px solid #564F4F;
    }
    .top-heading .content{
        place-items: start;
    }
    .content img{
        margin: 0px;
        margin-top: 30px;
    }
}
@media screen and (min-width: 1024px) {
    .top-heading h4{
        font-size: 40px;
    }
    .pt-100{
        padding-top: 100px !important;
    }
    .pt-50{
        padding-top: 50px !important;
    }
    .imge-list{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .content img{
       max-height: 120px;
    }
    .top-heading p{
        font-size: 18px;
        line-height: 28px;
    }
    .page-container{
        padding: 0 40px;
    }
    .row-content{
        gap: 40px;
    }
    .flex-content{
        margin: 60px 0px;
    }
    .row-content div:nth-child(2){
        padding: 0 40px;
        border-left: 1px solid #564F4F;
        border-right: 1px solid #564F4F;
    }
    
}
@media screen and (min-width: 1700px) {
    .small-page{
        max-width: 1000px;
        margin: auto;
    }
}