#product-list{
    margin: 30px 0;
    margin-top: 0px;
}
#product-list .product{
    display: flex;
    padding: 40px 0px;
    align-items: center;
    border-bottom: 2px solid #CCC1C1;
}
.product .product-image{
    margin-right: 40px;
    margin-left: 0px;
    max-height: 200px;
    min-width: 80px;
    max-width: 100px;
    position: relative;
    display: grid;
    place-items: center;
}
.product-image .normal{
    height: 100%;
    object-fit: contain;
    max-height: 200px;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
}
.product-image .onHover{
    position: absolute;
    bottom: 0px;
    left: -20px;
    height: 0px;
    width: calc(100% + 40px);
    object-fit: contain;
    height: auto;
    transition: all 0.5s ease;
    opacity: 0;
}
.details{
    letter-spacing: 0.01em;
    font-family: 'Playfair Display';
}
.details h4{
    font-weight: 600;
    font-size: 20.16px;
    margin-bottom: 20px;
    color: #310F3F;
}
.details p{
    font-weight: 400;
    font-size: 12px;
    line-height: 140.4%;
    color: #534C4C;
}

@media screen and (min-width: 749px) {
    #product-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        max-width: 1500px;
        margin: auto;
    }
    #product-list .product{
        padding: 20px;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        border-bottom: none;
        cursor: pointer;
    }
    .product .product-image{
        margin-right: 0px;
    }
    .details{
        margin-top: 30px;
        text-align: center;
    }
    .details h4{
        font-size: 22px;
    }
    .details p{
        font-size: 14px;
    }
}
@media screen and (min-width: 1024px) {
    #product-list{
        gap: 30px;
    }
    .details h4{
        font-size: 24px;
    }
    .details p{
        font-size: 16px;
    }
}
/* TODO FOR PRODUCT IMAGES */